SECRET_KEY=REPLACE-ME-WITH-50-RANDOM-CHARS
JWT_ACCESS_SECRET=REPLACE-ME-ACCESS-SECRET-32-CHARS-MIN
JWT_REFRESH_SECRET=REPLACE-ME-REFRESH-SECRET-32-CHARS-MIN
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=
POSTGRES_DB=myforces_db
POSTGRES_USER=myforces_user
POSTGRES_PASSWORD=StrongPass123!
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173
REFRESH_COOKIE_SECURE=False
REFRESH_COOKIE_SAMESITE=Lax
CELERY_TASK_ALWAYS_EAGER=False
DOMAIN=myforces.yourdomain.com
SSL_EMAIL=admin@yourdomain.com
